/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
}

header h1 {
    margin: 0;
}

nav {
    flex: 1;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main p {
    width: 100%;
    text-align: center;
}

article {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #ffffff;
}


article h2 {
    margin-top: 0;
}

article p {
    margin-bottom: 15px;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}

main p:last-child {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    article {
        width: 100%;
    }
}
